body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(header.a6837f08.webp);
    background-repeat: no-repeat;
    background-size: cover;

}

.calculator {
    width: 300px;
    border: 3px solid rgb(123, 229, 243);
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 30px 30px 30px 10px;
    box-shadow: 0 4px 8px rgb(4, 222, 250);
    
}

.display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 25px;
    border: 1px solid rgb(123, 229, 243);
    border-radius: 5px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px;
    color: black;
    background-color: #b293f5;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-left: 15px;


}

button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #00a2ff;
    color: rgb(9, 9, 9);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6ab2ff;
}